@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  body {
    background-color: rgb(205, 205, 205);
    margin-top: 125px;
    }
  .wrapper {
    width: 800px;
    margin: 50px auto;
    text-align: center;
  }

  h1{
    margin: 0 15px;
    font-weight: 600;
    font-size: 30px;
    letter-spacing: 2px;
    color: white;
  }
  .view-main {
    background: #fff;
    border-radius: 8px;
    padding: 15px;
    margin: 50px auto;
  }
  .list-view .view-item{
    background: #16eae4;
    border: 2px solid rgb(91, 91, 91);
    border-radius: 3px;
    margin: 10px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
  }
  .list-view .view-item:last-child{
    margin-bottom: 0px;
  }
  .list-view .view-item .vi_left{
    margin-right: 25px;
    width: 25px;
    background: blue;
  }
  .view-item .title{
    font-weight: 590;
    font-size: 18px;
  }
  .view-item .user-name{
    margin: 5px 0;
    font-size: 14px;
  }
  .view-item .btn{
    margin-top: 10px;
    width: 125px;
    background: #01d099;
    color: white;
    cursor: pointer;
    text-align: center;
    font-weight: 200px;
    border-radius: 3px;
    padding: 8px 5px;
  }
  .view-item .btn:hover{
    background: #0ae3a9;
  }
