@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  body {
    background-color: rgb(205, 205, 205);
    margin-top: 125px;
    }
   /* Style the content */
 .home-content {
    margin: auto;
    padding: 15px 15px;
    text-align: center;
    }
  h1{
    margin: 0 15px;
    font-weight: 600;
    font-size: 30px;
    letter-spacing: 2px;
    color: white;
    }

 /* Add some style to the buttons */
 .home-button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
  }
  .home-button {
    display: block;
    background-color: #16eae4;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
    align-items: center;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  .home-button img {
    height: 100px;
    margin-right: 20px;
    float: left;
  }